<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <b>
      You've been invited to join WEB. Welcome!
    </b>
    <p>Go <a href='http://thewebproject.org/start/<%= @user.id %>'>here</a> to activate your account.</p>
  </body>
</html>