.container.admin
  %h1
    Admin Panel
    =link_to "Add Workspace", "/teams/new"
    =link_to "Add Notice", "/new_notice"
  .teams
    %table
      %tbody
        %tr
          %th Workspace
          %th Users
          %th Posts
        -@teams.each do |team|
          %tr
            %td= link_to team.name, "admin/teams/#{team.id}"
            %td= team.users.count
            %td= team.posts.count
          