<div class="bucket" ondragover="event.preventDefault()" dragenter="event.preventDefault()" ondrop="event.preventDefault()">
  <div class="text">
    <h5><%= name %></h5>
    <div class="user"><%= user.name %></div>
  </div>
  <div class="number"><%= posts.length %></div>
</div>