<div id="buckets_form">
  <div class="show_form">+ Add a New Bucket</div>
  <div class="form">
    <input class="bucket_name" name="name" placeholder="Bucket Name"/>
    <textarea class="bucket_description" name='description' placeholder="Description"></textarea>
    <button class="add_bucket">Add Bucket</div>
  </div>
</div>
<div id="buckets"></div>