.container
  .new_user
    =form_for @user do |f|
      %p=f.text_field :name, :placeholder => "Full Name"
      %p=f.text_field :email, :placeholder => "Email"
      %p=f.hidden_field :team_id, :value => params[:team_id]
      %p=f.submit