<div class="post" data-id="<%= id %>">
  <%= body %>
  <div class='info'>
    <div class='remove close'><span class="unicode">&#215;</span> Remove</div>
    <div class='like' data-id="<%= id %>"><span class="unicode">&#x2661;</span> Like</div>
  </div>
</div>