<div class='container'>
  <div class="workspace_label"><%= title %></div>
  <div class="items">
    <div id="post_loader">Working...</div>
    <div class='form'>
    </div>
    <div id='posts'>
    </div>
  </div>
</div>
<div id='photobox'>
  <div class="image"></div>
  <div class="opacity"></div>
</div>
<div id="preloader">Loading...</div>