<div class='container'>
  
  <div class='form'>
    <form id='new-post' name='post'>
      <div class="button image">Upload an image</div>
      <div class="button text">Write a note</div>
      <div class="text_form">
        <textarea name='body' id='body'></textarea>
        <input type='submit' class="add_post" value='Add Post'/>
      </div>
    </form>
  </div>

  <div id='posts'>
  </div>

</div>