<div class='container'>
  
  <div class='form'>
    <form id='new-post' name='post'>
      <textarea name='body' id='body'></textarea>
      <input type='submit' class="add_post" value='Add Post'/>
    </form>
  </div>

  <div id='posts'>
  </div>

</div>