#posts
#user

:javascript
  $(function() {
    WEB.currentUser = new WEB.Models.User();
    WEB.currentUser.url = '/me';
    WEB.currentUser.fetch({
      success: function() {
        window.router = new WEB.Routers.PostsRouter();
        Backbone.history.start();
      }
    });
  });