#posts

:javascript
  $(function() {
    WEB.currentUser = new WEB.Models.User();
    WEB.currentUser.url = '/me';
    WEB.currentUser.fetch();
    window.router = new WEB.Routers.PostsRouter({posts: #{@posts.to_json.html_safe}});
    Backbone.history.start();
  });