// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#panel {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #fafafa;
  border-left: 1px solid #dadada;
  overflow: scroll;
  .post, .user {
    min-height: 100px;
    width: 280px;
    padding: 10px;
    font-family: Helveticaneue;
    color: #333;
    margin-top: 50px;
    img {
      width: 280px;
      margin-top: 10px;
      background: #dadada;
      cursor: pointer;
      -webkit-transition: opacity 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .user {
    .name {
      font-size: 20px;
      line-height: 22px;
      font-family: Helveticaneuebold;
      color: #000;
    }
    .details {
      font-size: 15px;
      line-height: auto;
      margin: 5px 0px;
    }
    .bio {
      font-size: 12px;
      font-family: Helveticaneuelight;
      margin-bottom: 5px;
    }
    label {
      font-size: 12px;
      border-bottom: 1px solid #333;
    }
    .teams {
      padding-top: 5px;
      .team {
        padding: 2px 0px;
        font-size: 13px;
        cursor: pointer;
        color: #333;
        font-family: Helveticaneuebold;
        -webkit-transition: 0.2s;
        &:hover {
          color: #000;
          text-decoration: underline;
        }
      }
    }
    .number {
      margin-top: 10px;
      width: 140px;
      float: left;
      label {
        font-size: 12px;
        border-bottom: 1px solid #333;
      }
      .count {
        font-size: 30px;
        padding: 5px;
        font-family: Helveticaneuebold;
      }
    }
  }
  .post {
    border-bottom: 1px solid #dadada;
    font-size: 15px;
    line-height: 22px;
  }
  .header {
    background: #222;
    margin: 0px;
    height: 50px;
    position: fixed;
    width: 300px;
    z-index: 5;
    .close {
      position: absolute;
      top: 10px;
      right: 13px;
      width: 20px;
      height: 30px;
      background-image: url('/assets/white_x.png');
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;
      cursor: pointer;
      -webkit-transition: 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    h1 {
      background: #222;
      height: 30px;
      padding: 10px;
      margin: 0px;
      color: #fff;
      font-family: Helveticaneuelight;
      font-size: 18px;
      line-height: 30px;
    }
  }
  .items {
    position: relative;
    padding-bottom: 100px;
    .comment {
      font-size: 13px;
      font-family: Helveticaneue;
      padding: 10px;
      border-bottom: 1px solid #dadada;
      -webkit-transition: opacity 0.5s;
      .user {
        font-size: 10px;
        font-family: Helveticaneuelight;
        line-height: 10px;
        padding-top: 5px;
      }
    }
    form {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 300px;
      height: 100px;
      -webkit-transition: opacity 0.3s;
      textarea {
        width: 280px;
        padding: 10px;
        height: 60px;
        font-family: Helveticaneuelight;
        font-size: 13px;
        color: #444;
        border: 0px;
        margin: 0px;
        resize: none;
        outline: none;
        border-bottom: 1px solid #dadada;
      }
    }
  }
  #preloader {
    display: none;
    margin-top: 100px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-family: Helveticaneuebold;
    color: #dadada;
  }
  &.loading {
    #preloader {
      display: block;
    }
    form {
      opacity: 0;
    }
    .comment {
      opacity: 0;
    }
  }
}