// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin-left: 100px;
  padding-left: 10px;
  width: -webkit-calc(100% - 420px);
  width: -moz-calc(100% - 420px);
  width: calc(100% - 420px);
  //-webkit-transition: opacity 0.4s;
  .workspace_label {
    width: 100%;
    text-align: center;
    font-family: Helveticaneuebold;
    color: #dadada;
    font-size: 20px;
    line-height: 40px;
    padding-top: 10px;
    min-width: 290px;
  }
  .items {
    min-width: 290px;
    margin: auto;
    #post_loader {
      display: none;
      width: 250px;
      height: 250px;
      margin: 20px;
      float: left;
      position: relative;
      text-align: center;
      line-height: 250px;
      color: #dadada;
      font-family: Helveticaneuebold;
      font-size: 20px;
    }
    .form {
      display: none;
      width: 250px;
      height: 250px;
      margin: 20px;
      float: left;
      position: relative;
      .button.image {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 160px;
        height: 60px;
        color: #fff;
        font-family: Helveticaneuebold;
        text-align: center;
        -webkit-transition: background 0.2s;
        z-index: 4;
        line-height: 60px;
        &.empty {
          background: #dadada;
          &:hover {
            background: #777;
            cursor: pointer;
          }
        }
        .image_loader {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 0px;
          background: #333;
          z-index: 4;
          height: 60px;
        }
        .preview {
          width: 56px;
          height: 56px;
          border: 2px solid #333;
          img {
            height: 56px;
            width: 56px;
            background: #dadada;
          }
        }
        .message {
          z-index: 5;
          position: relative;
        }
      }
      .upload {
        height: 0px;
        width: 0px;
        opacity: 0;
        overflow: hidden;
      }
      .post_form {
        position: relative;
        width: 230px;
        height: 230px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        textarea {
          height: 160px;
          width: 230px;
          padding: 0px;
          margin-bottom: 0px;
          border: 0px;
          outline: none;
          resize: none;
          color: #333;
          font-size: 13px;
          line-height: 18px;
          font-family: Helveticaneue;
        }
        input.add_post {
          width: 60px;
          height: 60px;
          position: absolute;
          bottom: 10px;
          right: 10px;
          background-color: #6f9;
          color: #fff;
          text-align: center;
          border: 0px;
          cursor: pointer;
          line-height: 60px;
          padding: 0px;
          outline: none;
          font-family: Helveticaneuebold;
          font-size: 40px;
          opacity: 0.8;
          -webkit-transition: 0.5s;
          background-image: url('/assets/WEB_check.jpg');
          background-size: 55px 60px;
          background-position: center;
          &:hover, &:focus {
            border: 0px;
            background-color: #19D1A3;
            opacity: 1;
            color: #fff;
          }
        }
      }
    }
  }
}
#posts, #bucket_posts {
  #preloader {
    display: none;
    position: fixed;
    top: 40%;
    width: -webkit-calc(100% - 400px);
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
    left: 100px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: Helveticaneuebold;
    color: #dadada;
  }
  &.centered {
    width: 700px;
    margin: 0px auto;
    padding: 20px 0;
    .promoted_post {
      width: 680px;
      margin: 0px;
      padding: 10px 0;
      position: relative;
      .body {
        background: #fff;
        border: 1px solid #eee;
        width: 460px;
        min-height: 100px;
        padding: 20px;
        font-family: Helveticaneuelight;
        font-size: 15px;
        color: #111;
        line-height: 24px;
        &.loaded {
          img {
            opacity: 1;
          }
        }
        p {
          margin: 0px;
          padding: 0px;
          margin-bottom: 20px;
        }
        img {
          width: 454px;
          border: 2px solid #333;
          opacity: 0;
          -webkit-transition: 2s;
        }
      }
      .details {
        position: absolute;
        top: 10px;
        right: 0px;
        width: 170px;
        padding-left: 10px;
        .user {
          border-bottom: 1px solid #eee;
          width: 100%;
          .thumbnail {
            width: 16px;
            height: 16px;
            border-radius: 8px;
            background: #dadada;
            float: left;
            margin-top: 5px;
          }
          h4 {
            font-family: Helveticaneuebold;
            color: #222;
            padding: 5px 0;
            margin: 0px;
            font-size: 14px;
            margin-left: 23px;
          }
        }
        .team {
          font-family: Helveticaneuelight;
          color:#333;
          width: 100%;
          border-bottom: 1px solid #eee;
          padding: 5px 0;
        }
        .likes {
          padding-top: 5px;
          font-family: Helveticaneuelight;
          font-size: 30px;
          line-height: 35px;
          color: #66FF99;
          -webkit-transition: 0.2s;
          &.liked {
            color: #3399FF;
            span.unicode {
              &:hover {
                color: #e60000;
              }
            }
          }
          span.unicode {
            font-size: 30px;
            line-height: 35px;
            padding-right: 5px;
            cursor: pointer;
            &:hover {
              color: #3399FF;
            }
            &:active {
              font-style: bold;
            }
          }
        }
      }
    }
  }
  .no_posts {
    text-align: center;
    padding-top: 100px;
    font-family: Helveticaneuebold;
    color: #dadada;
    font-size: 30px;
    display: none;
  }
  &.loading {
    .container {
      opacity: 0;
    }
    #preloader {
      display: block;
      opacity: 1;
    }
  }
  &.adding {
    #post_loader {
      display: block;
      opacity: 1;
    }
  }
  .post {
    width: 230px;
    height: 230px;
    margin: 20px;
    background: #fff;
    float: left;
    padding: 10px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    &[draggable=true] {
      cursor: move;
    }
    &.processing {
      opacity: 0;
    }
    a {
      font-family: Helveticaneue;
      color: #222;
      white-space: pre;           /* CSS 2.0 */
      white-space: pre-wrap;      /* CSS 2.1 */
    	white-space: pre-line;      /* CSS 3.0 */
    	white-space: -pre-wrap;     /* Opera 4-6 */
    	white-space: -o-pre-wrap;   /* Opera 7 */
    	white-space: -moz-pre-wrap; /* Mozilla */
    	white-space: -hp-pre-wrap;  /* HP Printers */
    	word-wrap: break-word;      /* IE 5+ */
    	&:hover {
    	  color: #000;
    	}
    }
    .body {
      color: #333;
      font-family: Helveticaneue;
      font-size: 13px;
      line-height: 18px;
      overflow: scroll;
      width: 230px;
      height: 160px;
    }
    img {
      position: absolute;
      bottom: 10px;
      left: 10px;
      border: 2px solid #333;
      cursor: pointer;
      -webkit-transition: 0.2s;
      &:hover {
        border: 2px solid #000;
      }
    }
    .details {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
      .likes {
        font-size: 28px;
        color: #66FF99;
        line-height: 30px;
        font-family: Helveticaneue;
        &.liked {
          color: #3399FF;
          span.unicode {
            &:hover {
              color: #e60000;
              font-family: Helveticaneuelight;
            }
          }
        }
        span.unicode {
          -webkit-transition: 0.2s;
          padding-right: 3px;
          cursor: pointer;
          &:hover {
            color: #3399FF;
          }
          &:active {
            font-style: bold;
          }
        }
      }
      .author {
        font-family: Helveticaneuelight;
        font-size: 18px;
        line-height: 18px;
        padding-bottom: 3px;
        margin-bottom: 2px;
        border-bottom: 1px solid #dadada;
        color: #444;
        cursor: pointer;
        -webkit-transition: 0.2s;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
#posts {
  .post {
    .author {
      line-height: 18px;
      padding-bottom: 3px;
      margin-bottom: 2px;
      border-bottom: 1px solid #dadada;
      color: #444;
      cursor: pointer;
      -webkit-transition: 0.2s;
      &:hover {
        color: #000;
      }
    }
    .likes {
      padding-top: 5px;
      font-family: Helveticaneuelight;
      font-size: 30px;
      line-height: 35px;
      color: #66FF99;
      -webkit-transition: 0.2s;
      &.liked {
        color: #3399FF;
        span.unicode {
          &:hover {
            color: #e60000;
          }
        }
        span.comments {
          &:hover {
            color: #222;
          }
        }
      }
      span.unicode, span.comments {
        font-size: 30px;
        line-height: 35px;
        cursor: pointer;
        margin-right: -5px;
        &:hover {
          color: #3399FF;
        }
        &:active {
          font-style: bold;
        }
      }
    }
  }
}
#photobox {
  position: fixed;
  top: 0px;
  left: 100px;
  .opacity {
    opacity: 0;
    -webkit-transition: opacity 0.7s;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .image {
    &.loading {
      img {
        opacity: 0;
      }
    }
    img {
      display: none;
      -webkit-transition: opacity 0.3s;
      -webkit-transition: box-shadow 0.3s;
    }
  }
  &.active {
    height: 100%;
    width: -webkit-calc(100% - 400px);
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
    .opacity {
      background: #000;
      opacity: 0.9;
    }
    .image {
      img {
        box-shadow: 0 0 40px #000;
        max-width: -webkit-calc(100% - 200px);
        max-width: -moz-calc(100% - 200px);
        max-width: calc(100% - 200px);
        display: block;
        margin: auto;
        margin-top: 30px;
        position: relative;
        z-index: 5;
      }
    }
  }
}