// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins";

.wrapper {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  .header {
    margin-top: 50px;
    margin-bottom: 20px;
    .logo {
      text-align: center;
      font-size: 120px;
      @include HN-Bold;
      color: #ddd;
      img {
        width: 300px;
        margin-left: 40px;
      }
    }
  }
  .form {
    width: 100%;
    input {
      width: 360px;
      font-size: 15px;
      line-height: 25px;
      color: #444;
      @include HN-Light;
      border: 1px solid #dadada;
      padding: 10px;
      outline: none;
      margin-bottom: 15px;
      -webkit-transition: 0.3s;
      &:hover {
        border: 1px solid #bbb;
      }
      &:focus {
        border: 1px solid #bbb;
      }
    }
    .login {
      width: 382px;
      background: #a0a0a0;
      color: #fafafa;
      @include HN-Regular;
      text-align: center;
      border: 0px;
      cursor: pointer;
      -webkit-transition: 0.5s;
      &:hover, &:focus {
        border: 0px;
        background: #777;
        color: #fff;
      }
    }
  }
}

.demo_link {
  @include HN-Bold;
  text-align: center;
  display: block;
  margin-top: 20px;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: 0.2s;
  &:hover {
    color: #333;
  }
}