// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.preferences {
  position: fixed;
  top: 0px;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #fafafa;
  .header {
    background: #222;
    margin: 0px;
    height: 50px;
    .close {
      position: absolute;
      top: 10px;
      right: 13px;
      width: 20px;
      height: 30px;
      background-image: url('/assets/white_x.png');
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;
      cursor: pointer;
      -webkit-transition: 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    h1 {
      background: #222;
      height: 30px;
      padding: 10px;
      margin: 0px;
      color: #fff;
      font-family: Helveticaneuelight;
      font-size: 18px;
      line-height: 30px;
    }
  }
  .item {
    margin: 0px;
    padding: 6px 10px;
    label {
      font-size: 14px;
      color: #999;
      font-family: Helveticaneuelight;
      margin-bottom: 3px;
    }
    input {
      width: 255px;
      padding: 10px;
      font-size: 15px;
      font-family: Helveticaneuelight;
      color: #333;
      border: 1px solid #ccc;
      outline: none;
      -webkit-transition: 0.2s;
      &:hover {
        border: 1px solid #888;
      }
      &:focus {
        border: 1px solid #888;
      }
    }
    textarea {
      width: 255px;
      height: 160px;
      padding: 10px;
      font-size: 13px;
      line-height: 18px;
      font-family: Helveticaneuelight;
      color: #333;
      border: 1px solid #ccc;
      outline: none;
      -webkit-transition: 0.2s;
      resize: none;
      &:hover {
        border: 1px solid #888;
      }
      &:focus {
        border: 1px solid #888;
      }
    }
  }
  .submit {
    width: 277px;
    background: #ccc;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    border: 0px;
    font-family: Helveticaneuelight;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    outline: none;
    &:hover {
      background: #888;
    }
    &:focus {
      background: #888;
    }
  }
}