<div class="team">
  <div class="name"><%= name %></div>
  <div class="bio"><%= description %></div>
  <label>Users:</label>
  <div class="users"></div>
  <div class="number">
    <label>Number of Posts:</label>
    <div class="count"><%= posts %></div>
  </div>
  <div class="number">
    <label>Number of Likes:</label>
    <div class="count"><%= likes %></div>
  </div>
</div>