.sidebar
  .profile
    .name.user( data-id="user" )= current_user.name
    .collapsible( data-id="user" )
      .collapse
        #my_profile
    
  .team_profile
    -current_user.teams.each do |team|
      .name.team( data-id="#{team.id}" )= team.name
      .collapsible( data-id="#{team.id}" )
        .collapse
          .description= team.description
          %ul.members
            -team.users.each do |member|
              %li.member
                =member.name
  .buckets
    .name.buckets( data-id="buckets" ) Buckets
    .collapsible( data-id="buckets" )
      #containers
    
  .header
    .edit_profile Edit Profile
    %a(href='/logout') Logout
#panel
  .header
    .close
    %h1
  #content
  #preloader Loading...