.sidebar
  .profile
    .name.user= current_user.name
    .collapsible
      .collapse
        #my_profile
    
  .team_profile
    .name.team= @team.name
    .collapsible
      .collapse
        .description= @team.description
        .members
          -@team.users.each do |member|
            =member.name
            =member.email
  .buckets
    .name.buckets Buckets
    .collapsible
      #containers
    
  .header
    .edit_profile Edit Profile
    %a(href='/logout') Logout
#bucket_container