.sidebar
  .profile
    .name.user= current_user.name
    .collapsible
      .collapse
        .info
          =current_user.school + ', ' if current_user.school && current_user.school != ''
          =current_user.year if current_user.year
        .bio= current_user.bio if current_user.bio
    
  .team_profile
    .name.team= @team.name
    .collapsible
      .collapse
        .description= @team.description
        .members
          -@team.users.each do |member|
            =member.name
            =member.email
  .buckets
    .name.buckets Buckets
    .collapsible
      #containers
    
  .header
    .edit_profile Edit Profile
    %a(href='/logout') Logout
#bucket_container